body {
  margin:0;
  padding:0;
}

button {
  display:block;
  margin: 40px auto 0;
  padding:25px;
  background-color:white;
  border:3px solid black;
  font-size:16px;
  cursor: pointer;
  outline-style: none;
}

button:active {
  transform: translateY(3px);
}

#img-container {
  max-height: 100%;
  text-align:center;
  margin-top:50px;
}

.img-frame {
  display:inline-block;
  width:200px;
  height:400px;
  background: url('img/blank.png') 50% 50% no-repeat;
  padding:10px;
  margin:10px;
  vertical-align: top;
  transition: transform 3s;
}
